.intro{
    color: azure;
    text-align: center;
}

.bg{
    background-color: black;
}

.tools{
    color: azure;
    position: relative;
    left: 200px;
}

.navbar{
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #1f1b24;
        min-height: 8vh;
        position: fixed;
        top: 0;
        z-index: 2;
}

.start{
    background-color: black;
}

.transition:hover{
    color:red;
}

.transition{
    background-color: yellow;
    font-family: cursive;
}